.playlist-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playlist-title {
  align-self: self-start;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.select-button {
  align-self: self-start;
  background: var(--button-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: background 0.2s ease;
}

.select-button:hover:not(:disabled) {
  background: var(--button-color-hover);
}

.playlist-list,
.playlist-item {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.playlist-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.playlist-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: var(--card-background-color);
  border: 1px solid var(--card-background-color-border);
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.playlist-item.hover-enabled:hover {
  background: var(--card-background-color-hover);
}

.playlist-item.selected {
  background: var(--card-background-color-selected);
}

.playlist-image {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.1);
  object-fit: cover;
  border-radius: 6px;
  margin-right: 0.5rem;
  border-color: var(--card-background-color-border);
  border-style: solid;
  border-width: 2px;
}

.playlist-info {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
}

.playlist-name {
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lock-icon {
  margin-right: 4px;
  vertical-align: middle;
}

.playlist-tracks {
  font-size: 0.875rem;
  color: var(--accent-color);
}

.qr-icon {
  flex-shrink: 0;
  margin-left: auto;
}

.floating-actions {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  z-index: 1000;
}

.reset-button,
.generate-all-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--button-text-color);
  background: var(--button-color);
  transition: background-color 0.3s ease;
}

.reset-button:hover:not(:disabled),
.generate-all-button:hover:not(:disabled) {
  background: var(--button-color-hover);
}

.reset-button:disabled,
.generate-all-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .playlist-item {
    /* flex-direction: column; */
    /* align-items: flex-start; */
  }

  .playlist-image {
    /* margin-bottom: 10px; */
  }

  .floating-actions {
    padding-bottom: 80px; /* leave space for mobile nav if needed */
    /* flex-direction: column; */
    /* align-items: stretch; */
  }
}

.checkbox {
  margin-left: 0.5rem;
  margin-right: 1rem;
  width: 1.4em;
  height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  user-select: none;
}
